.container {
    border: 1px solid rgb(198, 198, 198);
    margin-left: 14px;
    padding-top: 10px;
    /* border-radius: 20px; */
}
.mainContainerRI {
    overflow-y: scroll;
    height: 320px;
    overflow-x: hidden;
}
.mainContainerRI .subContainerRI {
    width: 31%;
    flex: 0 0 auto;
}
.subContainerRI {
    border: 1px solid rgb(198, 198, 198);
    display: flex;
    height: 95px;

    /* overflow-y: hidden; */
}
.nameRI {
    font-size: 15px;
    height: auto;
}
.usernameRI {
    font-size: 10px;
    color: grey;
}
.detailsRI {
    font-size: 10px;
    color: grey;
    margin-top: -10px;
}
.imageRI {
    width: 75px;
    height: 75px;
    padding-right: 5px;
}